html {
  background-color: #f5f4f4;
}

body {
  margin: 0;
}

#nav {
  display: flex;
  justify-content: space-between;
  background-color: #1a2b34;
  font-size: 23px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  font-family: OCR A Std, monospace;
  color: white;
  position: sticky;
  top: 0;
  z-index: 2;
}

#name {
  font-size: 25px;
}

#anchors a {
  color: white;
  text-decoration: none;
  margin-right: 1em;
  cursor: pointer;
  /* transition: text-decoration 3s ease; */
}

#anchors a {
  transition: color 0.3s ease;
}

#anchors a:hover {
  color: grey;
}

#main-img {
  display: flex;
  justify-content: center;
}

#main-img img {
  width: 100%;
  margin-top: -10em;
}

p {
  position: absolute;
  margin-top: 1.5em;
  border-right: solid 3px #f5f4f4;
  white-space: nowrap;
  overflow: hidden;
  font-family: OCR A Std, monospace;
  font-size: 28px;
  color: #f5f4f4;
}

/* Animation */
p {
  animation: animated-text 4s steps(36) 1s 1 normal both,
    animated-cursor 600ms steps(36) infinite;
}

/* text animation */

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 590px;
  }
}

/* cursor animations */

@keyframes animated-cursor {
  from {
    border-right-color: #f5f4f4;
  }
  to {
    border-right-color: transparent;
  }
}

#main-container {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  justify-content: center;
  margin-top: 3em;
  padding-top: 1em;
  padding-bottom: 2em;
  background-color: white;
  margin-left: 2em;
  margin-right: 2em;
}

.section-title {
  font-family: OCR A Std, monospace;
  color: #1a2b34;
  font-size: 28px;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-sub {
  margin-top: 2em;
  display: flex;
  align-items: center;
}

#about-sub img {
  height: 300px;
  padding-left: 2em;
}

#about-words {
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  flex-direction: column;
  line-height: 1.4em;
  font-family: Lato, sans-serif;
  font-weight: lighter;
  align-self: flex-start;
}

.about-me {
  margin-top: 2em;
}
