html {
  background-color: #f5f4f4;
}

body {
  margin: 0;
}

#nav {
  display: flex;
  justify-content: space-between;
  background-color: #1a2b34;
  font-size: 23px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  font-family: monospace;
  color: white;
  position: sticky;
  top: 0;
  z-index: 2;
}

#home {
  color: white;
  text-decoration: none;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

#home:hover {
  color: grey;
}

#anchors a {
  color: white;
  text-decoration: none;
  margin-right: 1em;
  cursor: pointer;
}

#anchors a {
  transition: color 0.3s ease;
}

#anchors a:hover {
  color: grey;
}

#main-img {
  display: flex;
  /* justify-content: center; */
}

#main-img img {
  width: 100%;
  margin-top: -10em;
}

p {
  position: absolute;
  margin-top: 1.5em;
  margin-left: 0.9em;
  border-right: solid 3px #f5f4f4;
  white-space: nowrap;
  overflow: hidden;
  font-family: monospace;
  font-size: 28px;
  color: #f5f4f4;
}

/* Animation */
p {
  animation: animated-text 4s steps(36) 1s 1 normal both,
    animated-cursor 600ms steps(36) infinite;
}

/* text animation */

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 590px;
  }
}

/* cursor animations */

@keyframes animated-cursor {
  from {
    border-right-color: #f5f4f4;
  }
  to {
    border-right-color: transparent;
  }
}

#main-container {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  justify-content: center;
  margin-top: 3em;
  padding-top: 1em;
  padding-bottom: 2em;
  background-color: white;
  margin-left: 2em;
  margin-right: 2em;
}

.section-title {
  font-family: monospace;
  color: #1a2b34;
  font-size: 28px;
  text-decoration: underline;
}

#about-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:target {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

#about-sub {
  margin-top: 2em;
  display: flex;
  align-items: center;
}

#aboutImg {
  height: 300px;
  padding-left: 2em;
}

#about-words {
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  flex-direction: column;
  line-height: 1.4em;
  font-family: Lato, sans-serif;
  font-weight: lighter;
  align-self: flex-start;
}

.about-me {
  margin-top: 2em;
}

#projects-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projects-container {
  margin-top: 2.5em;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.each-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 33%;
}

.each-project-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-img {
  height: 150px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.project-img:hover {
  box-shadow: 0px 0px 10px 0px;
}

.project-title {
  margin-bottom: 0.7em;
  font-family: Lato, sans-serif;
  font-weight: lighter;
  font-size: 17px;
}

.code-button {
  margin-top: 1em;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.code-button:hover {
  box-shadow: 0px 0px 5px 0px;
}

.project-desc {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 1em;
  font-family: Lato, sans-serif;
  font-weight: lighter;
  font-size: 15px;
  width: 80%;
}

#resume-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#resume-img {
  margin-top: 1.5em;
  height: 250px;
  border: 1px solid rgb(231, 231, 231);
}

#blog-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3em;
}

#blog-img {
  margin-top: 1.5em;
  height: 250px;
  border: 1px solid rgb(231, 231, 231);
}

.blog-title {
  font-family: Lato, sans-serif;
  font-weight: lighter;
  font-size: 17px;
  margin-top: 1.5em;
  width: 230px;
  text-align: center;
}

#blog-img {
  margin-top: 0.5em;
}

#footer {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #c4a29e;
  font-size: 23px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  font-family: monospace;
  color: #1a2b34;
}

/* border-radius: 50%; */

#contact {
  display: flex;
  justify-content: space-between;
}

#socials {
  display: flex;
  margin-right: 1.5em;
}

#github-logo {
  height: 30px;
  margin-right: 1.5em;
}

#linkedIn-logo {
  height: 30px;
}

@media (min-width: 1200px) {
  p {
    margin-top: 2em;
    font-size: 33px;
  }

  @keyframes animated-text {
    from {
      width: 0;
    }
    to {
      width: 696px;
    }
  }
}

@media (min-width: 1400px) {
  #nav {
    font-size: 32px;
  }
}

@media (min-width: 1600px) {
  p {
    font-size: 42px;
  }

  #nav {
    font-size: 35px;
  }

  @keyframes animated-text {
    from {
      width: 0;
    }
    to {
      width: 885px;
    }
  }
}

@media (max-width: 842px) {
  p {
    margin-top: 1em;
    font-size: 25px;
  }

  @keyframes animated-text {
    from {
      width: 0;
    }
    to {
      width: 527px;
    }
  }
}

@media (max-width: 783px) {
  p {
    margin-top: 0.7em;
    font-size: 20px;
  }

  #nav {
    font-size: 20px;
  }

  @keyframes animated-text {
    from {
      width: 0;
    }
    to {
      width: 422px;
    }
  }
}

@media (max-width: 710px) {
  p {
    display: none;
  }
}

@media (max-width: 491px) {
  #nav {
    display: none;
  }
}
